body{
    text-align: center;
}

h1{
    color: lightsalmon;
}

#id_username{
    text-align: center;
}

#id_password{
    text-align: center;
}

a{
    color: red;
    text-decoration: none;
    font-size: 30px;
}

ul{
    list-style-type: None;
}