{% extends 'index.html' %}
{% load static %}

{% block front %}
    <link rel="stylesheet" href="{% static 'auth/style/css.css' %}">
    <script src="{% static 'auth/js/authjs.js' %}"></script>
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Login page</h1>  


<form action="" method="post" novalidate>
    {% csrf_token %}
        {{ form.username.label_tag }} 
        {{ form.username }} <br> <br>
        {{ form.password.label_tag }} 
        {{ form.password }} <br> <br>
    <input type="submit" value="login">

</form>
    
    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}



