{% extends 'index.html' %}
{% load static %}

{% block front %}
    <link rel="stylesheet" href="{% static 'auth/style/css.css' %}">
    <script src="{% static 'auth/js/authjs.js' %}"></script>
{% endblock %}

{% block title %}Index Page{% endblock %}

{% block content %}


<div class="p-3 rounded-lg bg-info text-white d-inline-block d-flex align-items-center justify-content-center">
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            <li class="m-3">
                <h1>Sign Up</h1> 
            </li>
            <li class="border-0">
                {{signUpForm.username.label_tag}} {{signUpForm.username}}
            </li>
            <li class="border-0">
                {{signUpForm.password1.label_tag}} {{signUpForm.password1}}
            </li>
            <li class="border-0">
                Confirm: {{signUpForm.password2}}
            </li>
            <li><br>
                <input class="m-t-5 lead bg-light rounded border-0" type="submit" name="signupform" id="id_signupform">
            </li>
        </ul>
    </form>
</div>
{% endblock %}

