{% extends 'index.html' %}
{% load static %}

{% block front %}
    <link rel="stylesheet" href="{% static 'auth/style/css.css' %}">
    <script src="{% static 'auth/js/authjs.js' %}"></script>
{% endblock %}

{% block title %}Index Page{% endblock %}

{% block content %}


<div class="p-2 rounded-lg bg-dark text-white d-inline-block">
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <h1>Sign Up</h1> 
            </li>
            <li>
                {{signUpForm.username.label_tag}} {{signUpForm.username}}
            </li>
            <li>
                {{signUpForm.password1.label_tag}} {{signUpForm.password1}}
            </li>
            <li>
                Confirm: {{signUpForm.password2}}
            </li>
            <li>
                <input class="m-t-5 lead" type="submit" name="signupform" id="id_signupform">
            </li>
        </ul>
    </form>
</div>
{% endblock %}

