<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100px, initial-scale=1.0">
    {% block front %}{% endblock %}
    <title>{% block title %}Base Page{% endblock %}</title>
</head>
<body>
    <div id='accessbar'>
        <div id="childlist">
            <a href="{% url 'signup' %}" id="id_signup">Sign Up</a>||
            {% if request.user.is_authenticated %}
                <a href="{% url 'login' %}" id="id_login">Login</a>||
            {% endif %}
        </div>
    </div>
    {% block content %}

    {% endblock %}

</body>
</html>