body{
    text-align: center;
}
#accessbar{
    width: 250px;
    height: 100px;
}

#childbar{
    /* padding-top: 1000px; */
    border: aqua;
}

h1{
    color: lightsalmon;
    text-align: center;
    background: rgba(43, 166, 203, 0.5);
}

a{
    color: red;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

ul{
    list-style-type: None;
    text-align: center;
}