body{
    text-align: center;
}
h1{
    color: lightsalmon;
    text-align: center;
    background-color: aqua;
}

#id_username{
    text-align: center;
}

#id_password{
    text-align: center;
}

a{
    color: red;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

ul{
    list-style-type: None;
    text-align: center;
}