{% extends "index.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block front %}
    <link rel="stylesheet" href="{% static 'auth/style/css.css' %}">
    <script src="{% static 'auth/js/authjs.js' %}"></script>
{% endblock %}

{% block title %}Index Page{% endblock %}


{% block content %}

    <div class="container">
        <h1 class="p-3 rounded bg-info col-12 text-primary">Home Page</h1>
        <h2 class="text-primary bg-light p-3 rounded" style="width: 300px;">Username: {{user|capfirst}}</h2><br>
        <a class="p-3 rounded bg-primary text-light" href="{% url 'logout' %}">Logout</a>
    </div>
{% endblock %}


