{% extends "index.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block front %}
    <link rel="stylesheet" href="{% static 'auth/style/css.css' %}">
    <script src="{% static 'auth/js/authjs.js' %}"></script>
{% endblock %}

{% block title %}Index Page{% endblock %}


{% block content %}

    <div class="container-md">
        <h1 class="p-3 round bg-info col-xl-9 text-primary">Home Page</h1>
    </div>
    <div class="container-sm col-sm-9 text-info">
        <h2>Username: {{user|capfirst}}</h2>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
{% endblock %}


